<form action="{{ path('excel_upload') }}" method="post" enctype="multipart/form-data">
	<p>
	<label for="locale">Locale</label>
	<select name="locale" id="locale">
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="de">German</option>
        <option value="es">Spanish</option>
        <option value="pl">Polish</option>
        <option value="it">Italian</option>
    </select>
    </p>
    <p>
    <input type="file" name="upfile">
    </p>
    <p>
    <input type="checkbox" name="create" id="create" value="on"><label for="create">Enable card creation</label>
    </p>
    <p>
    <input type="checkbox" name="universal" id="universal" value="on"><label for="create">Enable updating universal fields</label>
    </p>
    <p>
    <input type="submit" value="Submit">
    </p>
</form>