{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}
<script src="{{ asset('/bundles/netrunnerdbcards/js/reviews.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container reviews">

<div class="text-center">
<ul class="pagination pagination-sm" style="margin-top:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

<div class="reviews row">
	<div class="col-lg-8 col-lg-push-2">
{% if reviews|length > 0 %}{% for i in 0..reviews|length-1 %}{% set review = reviews[i] %}{% set card = review.card %}
<div class="row" style="margin-bottom:1em;padding-bottom:1em;border-bottom:1px solid #ddd"><div class="col-lg-12">
    <div class="review-header">
        <img src="/bundles/netrunnerdbcards/images/cards/en/{{ review.card.code }}.png" alt="{{ review.card.title }}" class="pull-right" style="width:100px;margin:0 0 10px 10px">
        <h4 style="text-align:right"><a href="{{ path('cards_zoom',{card_code:review.card.code}) }}#review-{{ review.id }}" data-index="{{ review.card.code }}" class="card card-title">{{ review.card.title }}</a></h4>
    </div>
    <article class="review" data-index="{{ review.id }}" id="review-{{ review.id }}">
       <div class="review-like">
           <a id="review-social-icon-like" href="#" class="social-icon-like" data-toggle="tooltip" data-placement="bottom" title="Like that review">
        	   <span class="glyphicon glyphicon-heart"></span> <span class="num">{{ review.nbvotes }}</span>
    	   </a>
       </div>
       <div class="review-content">
       <div class="review-text">
    	   {{ review.text|raw }}
       </div>
       <div class="review-date">
           <time datetime="{{ review.datecreation|date('c') }}" title="{{ review.datecreation|date('F jS, Y') }}">{{ review.datecreation|date('n/j/y') }}</time>
       </div>
       <div class="review-author">
           <a href="{{ path('user_profile_view', {user_id:review.user.id,user_name:review.user.username|e('url')}) }}" rel="author" class="username {{ review.user.faction }}">{{ review.user.username }}</a>
           {% if review.user.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
    	   <small class="reputation">{{ review.user.reputation }}</small>
       </div>
       
       {% if review.comments|length %}
       
       {% for comment in review.comments %}
       <div class="review-comment text-muted small">{{ comment.text }}
       &mdash;
       <a title="{{ comment.author.reputation }} reputation" href="{{ path('user_profile_view', {user_id:comment.author.id,user_name:comment.author.username|e('url')}) }}" rel="author" class="username {{ comment.author.faction }}">{{ comment.author.username }}</a>
           {% if comment.author.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
       <time datetime="{{ comment.datecreation|date('c') }}" title="{{ comment.datecreation|date('F jS, Y') }}">{{ comment.datecreation|date('n/j/y') }}</time>
    </div>
       {% endfor %}
       
       {% endif %}
       <form action="{{ path('card_reviewcomment_post') }}" method="POST" class="form-comment">
       <input type="hidden" name="comment_review_id" value="{{ review.id }}">
       <button class="btn btn-link btn-write-comment">Add a comment</button  >
       </form>
       </div>
    </article>
</div></div>
{% endfor %}{% endif %}
</div>
</div>


<div class="text-center">
<ul class="pagination pagination-sm" style="margin:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

</div>

{% endblock %}