<table class="table">
<thead>
    <tr>
        <th>Rank</th>
        <th>Player name</th>
        <th>Prestige</th>
        <th>SoS</th>
        <th>Corp Identity</th>
        <th>Runner Identity</th>
    </tr>
</thead>
<tbody>
{% for attendance in event.attendances %}
<tr>
    <td class="text-center"{% if attendance.user %} style="font-size:2em;line-height:2em;background-image:url('/bundles/netrunnerdbevents/images/attendance-both.png');background-size:contain;background-repeat:no-repeat;background-position:center center"{% endif %}>{{ attendance.rank }}</td>
    <td>{{ attendance.playername }}</td>
    <td>{{ attendance.prestige }}</td>
    <td>{{ attendance.sos }}</td>
    <td>
        {% if attendance.corpIdentity %}
        <a href="{{ path('cards_zoom',{card_code:attendance.corpIdentity.code}) }}" class="influence-{{ attendance.corpIdentity.faction.code }}">
            {{ attendance.corpIdentity.identityShortTitle }}
        </a>
        {% endif %}
    </td>
    <td>
        {% if attendance.runnerIdentity %}
        <a href="{{ path('cards_zoom',{card_code:attendance.runnerIdentity.code}) }}" class="influence-{{ attendance.runnerIdentity.faction.code }}">
            {{ attendance.runnerIdentity.identityShortTitle }}
        </a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
