{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}

<script src="{{ asset('/bundles/netrunnerdbevents/js/event.js') }}"></script>
<script src="{{ asset('/bundles/netrunnerdbevents/js/event_create.js') }}"></script>

{% endblock %}

{% block body %}
<div class="container event">

<h1>Create a new event</h1>
<form action="{{ path('event_save',{_locale:app.request.locale}) }}" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" maxlength="255">
        <p class="help-block">Name of the event. Use the language spoken at the event.</p>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="10"></textarea>
        <p class="help-block">Description of the event, including entry fee, prices, etc.</p>
    </div>
    <fieldset>
    <legend>Format information</legend>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="last_pack">Last pack allowed</label>
                <select class="form-control" id="last_pack" name="last_pack">{% for pack in packs %}<option value="{{ pack.code }}">{{ pack.name }}</option>{% endfor %}</select>
                <p class="help-block">Use the event description if you need to specify more complex rules.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="tier">Tournament Tier</label>
                <select class="form-control" id="tier" name="tier">{% for tier in tiers %}<option value="{{ tier.id }}">{{ tier.name }}</option>{% endfor %}</select>
                <p class="help-block">Refers to the Tiers of Tournament Play defined by FFG in their Tournament Rules.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="championship">Championship Play</label>
                <select class="form-control" id="championship" name="championship"><option value="0">None</option><option>8</option><option>16</option><option>32</option></select>
                <p class="help-block">The number of players qualified for Championship Play after the Swiss Pairings.</p>
            </div>
        </div>
    </div>
    </fieldset>
    <fieldset>
    <legend>Location information</legend>
    <div class="form-group">
        <label for="location">Venue</label>
        <input type="text" class="form-control" id="location" name="location">
        <p class="help-block">Name of the venue, e.g. name of your FLGS.</p>
    </div>
    <div class="form-group">
        <label for="freelocation">Address</label>
        <div class="input-group">
            <input type="text" class="form-control" id="freelocation">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div>
        <p class="help-block">Address of the venue &mdash; make sure that the location is properly found below.</p>
    </div>
    <div class="row">
    <div class="col-md-6 form-group">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Full Address</label>
                <div class="col-sm-9">
                    <p class="form-control-static" id="location-address">&mdash;</p>
                    <input type="hidden" id="address" name="address">
                    <input type="hidden" id="latitude" name="latitude">
                    <input type="hidden" id="longitude" name="longitude">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Locality</label>
                <div class="col-sm-9">
                    <p class="form-control-static" id="location-locality">&mdash;</p>
                    <input type="hidden" id="locality" name="locality">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Area</label>
                <div class="col-sm-9">
                    <p class="form-control-static" id="location-area">&mdash;</p>
                    <input type="hidden" id="area" name="area">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Country</label>
                <div class="col-sm-9">
                    <p class="form-control-static" id="location-country">&mdash;</p>
                    <input type="hidden" id="country" name="country">
                    <input type="hidden" id="country_code" name="country_code">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <div id="map-canvas"></div>
    </div>
    </div>
    </fieldset>
    <fieldset>
    <legend>Date and time information</legend>
    <div class="form-group">
        <label>Start of the event</label>
        <div class="row" id="row-start">
        <input type="hidden" id="datetimestart" name="datetimestart">
        <div class="col-md-6 form-horizontal">
            <div class="row form-group">
            <label class="col-sm-2 control-label">Date</label>
            <div class="col-sm-3">
                <select class="form-control" id="datetimestart-year"><option>2012</option><option>2013</option><option>2014</option><option>2015</option><option>2016</option><option>2017</option><option>2018</option><option>2019</option><option>2020</option></select>
            </div>
            <div class="col-sm-4">
                <select class="form-control" id="datetimestart-month"><option value="0">January</option><option value="1">February</option><option value="2">March</option><option value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option></select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="datetimestart-day"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option></select>
            </div>
            </div>
        </div>
        <div class="col-md-6 form-horizontal">
            <div class="row form-group">
            <label class="col-sm-2 control-label">Time</label>
            <div class="col-sm-3">
                <select class="form-control" id="datetimestart-hour"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="datetimestart-minute"><option value="0">00</option><option value="15">15</option><option value="30">30</option><option value="45">45</option></select>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="form-group">
        <label for="timezone">Timezone</label>
        <select class="form-control" id="timezone" name="timezone">{% for timezone in timezones %}<option{% if timezone == 'UTC' %} selected{% endif %}>{{ timezone }}</option>{% endfor %}</select>
        <p class="help-block" id="timezone-help">Select the timezone corresponding to the location of the event.</p>
    </div>
    </fieldset>
    <button type="submit" class="btn btn-lg btn-primary" id="btn-create">All good, create!</button>
    <button type="button" class="btn btn-lg btn-link" id="btn-cancel">Forget it.</button>
</form>

</div>

{% endblock %}

{% block footer %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}
