{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}
<script type="text/javascript">
delete NRDB.api_url;
$(function () {
    $('time').each(function (index, element) {
    	var datetime = moment($(element).attr('datetime')).tz($(element).data('timezone'));
    	$(element).html(datetime.format('L')).attr('title', datetime.format('LLLL Z z'));
    });
});

</script>
{% endblock %}

{% block body %}
<div class="container event">

<div>
<div class="btn-toolbar pull-right" role="group">
    <a href="{{ path('event_create') }}" type="button" class="btn btn-default">Create a new event</a>
    <a href="{{ path('events_future') }}" type="button" class="btn btn-default">See future events</a>
</div>
<h1>Past Events</h1>
</div>

<table class="rwd-table table">
<thead>
<tr>
<th>Name</th>
<th>Locality</th>
<th># Players</th>
<th>Date</th>
</tr>
</thead>
<tbody>
{% if events is not empty %}
{% for i in 0..events|length-1 %}
<tr class="{% if i%2==0 %}even{% else %}odd{% endif %}">
    {% set event = events[i] %}
    <td data-th="Name"><a href="{{ path('event_view',{event_id:event.id,_locale:app.request.locale}) }}">{{ event.name }}</a></td>
    <td data-th="Location">{{ event.locality }}{% if event.area is not empty %}, {{ event.area }}{% endif %} ({{ event.countryCode }})</td>
    <td data-th="# Players">{{ event.nbplayers }}</td>
    <td data-th="Date"><time datetime="{{ event.datetimestart|date('c') }}" data-timezone="{{ event.timezone }}">{{ event.datetimestart|date('d/m/Y') }}</time></td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>

<div class="text-center">
<ul class="pagination pagination-sm" style="margin-top:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

</div>
{% endblock %}

{% block footer %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}